
body{
background: #7992c0;
}

h1{
    text-align: center; 
    color: white !important;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}

p{
    color: white; 
    font-size:20px;
    top: 100px;
}

.btn{
    text-transform: uppercase;
    position:fixed;
    bottom: 40px; 
    right: 40px; 
    border-radius: 5px; 
    font-weight: bold; 
    font-size: 25px; 
}

.btn1{
    text-transform: uppercase;
    position:fixed;
    bottom: 80px; 
    right: 40px; 
    border-radius: 5px; 
    font-weight: bold; 
    font-size: 25px; 
}

#number{
    font-size: 20px; 
    color: white; 
    position: fixed; 
    left: 180px;
    top: 125px;
}

.question{
    width: 150px;
    height: 150px;
   background-image: url(img/questionmark.jpg) repeat-x;
   bottom:50px;
   
}

img{
    display: block;
    margin:auto;
}

.tablephotos{
    border-collapse: separate;
    border-spacing: 10px 5px;
}